body {
	margin: 0px;
	padding: 0px;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

form {
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	gap:0.3rem;
	width: 22rem;
	height: 13rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding: 2rem;
	padding-bottom:4rem;
	background-color: rgba(130, 130, 130, 1);
	border-radius: 20px;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.7);
}
textarea {
	resize: none;
}

#title {
	width: 20rem;
}

#age {
	width: 3.8rem;
}

#imagediv {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: rgba(130, 130, 130, 1);
	border-radius: 10px;
	width: 28.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding:1rem;
}

#imagediv > div {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 6rem;
	height: 6rem;
	width:29.2rem;
	overflow: auto;
	overflow-x: hidden;
}

#imagediv > div > div {
	display: flex;
	margin: 0.3rem;
}

#preview {
	display: none;
	margin-top: 1rem;
	background-color: rgba(190, 190, 190, 1);
	border-radius: 10px;
	border: 2px solid black;
	width: 22rem;
	height: 12rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#previewintroduction {
	text-align: left;
}

#previewending {
	text-align: right;
}

#messagePreview {
	border: hidden;
	background-color: rgba(190, 190, 190, 0);
}

#messagePreview:focus {
	outline: none !important;
	border: 0px;
}
img {
	height: 5rem;
	width: 5rem;
}


